@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


/* 
Light - 100/300
Regular - 400
Medium - 500
Extrabold - 800
Black - 900
*/

/* COMMON */

:root {
    --red: #FF494B;
    --blue: #00C2BA;
    --green: #BEE163;
    --orange: #FFBA4A; 
    --dark-blue:#007D78;
    --dark: #2F2F2F;

    --fs-xs: 0.75rem; /*12px*/
    --fs-sm: 0.875rem; /*14px*/
    --fs-md: 1rem; /*16px*/
    --fs-lg: 1.25rem; /*20px*/
    --fs-xl: 1.5rem; /*24px*/
    --fs-2xl: 2rem; /*32px*/
    --fs-4xl: 3rem;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-sm);
    color:#fff;
}

.common-img-wrapper {
    display: flex;

    width: 100%;
    height: 100%;
}

.btn {
    color: #fff;
    font-size: var(--fs-xs);
    text-transform: uppercase;
    letter-spacing: 0.125em;

    border: 2px #fff solid;
    padding: 10px 20px;
}

.common-article {
    display: flex;
    align-items: center;

    gap: 20px;

    padding: 10px 30px;
}

.title {
    max-width: 130px;
    font-size: var(--fs-md);
}

.title span {
    font-size: var(--fs-4xl);
    letter-spacing: -0.05em;
    font-weight: 500;
    line-height: 1;

    display: inline-block;
}

.title span::first-line {
    font-weight: 900;
    letter-spacing: 0;
}

.desc {
    hyphens: auto;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.u-fade {
    transition: opacity 0.3s;
}

.u-fade:hover {
    opacity: 0.7;
}

.u-fade:active {
    opacity: 0.5;
}

.slider-dots img,.slider-arrows img,.oranges img {
    width: 100%;
}

/* HEADER */
.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
    grid-template-areas: ". title nav search";

    padding: 20px 0 30px;

    overflow: hidden;
}

.header__title {
    grid-area: title;

    font-size: var(--fs-xl);
    font-weight: 900;
    color: var(--red);
    line-height: 1;

    max-width: 170px;
}

.header__nav {
    grid-area: nav;
    justify-self: start;

    transform: translateX(-10px);
}

.header__list {
    display: flex;
    gap: 16px;
}

.header__list a {
    color: #000;
    font-size: var(--fs-md);

    padding: 10px;
    display: inline-block;
    position: relative;

    transition: color 0.2s;
}

.header__list a:hover {
    color: var(--blue);
}

.header__list a:active {
    color: var(--dark-blue);
}

.header__list a::before {
    content: "";

    display: block;

    width: 100%;
    height: 100%;

    background-color: var(--blue);

    position: absolute;
    left: 10px;
    bottom: -250%;

    transition: bottom 0.2s, background-color 0.3s;
}

.header__list a:hover::before {
    bottom: -100%;
}

.header__list a:active::before {
    background-color: var(--dark-blue);
}

.header__search {
    grid-area: search;
    justify-self: center;

    stroke: #000;
    transition: stroke 0.3s;
}

.header__search:hover {
    stroke: var(--blue);
}

.header__search:active {
    stroke: var(--dark-blue);
}


/* MAIN */

.main {
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-areas:'slider-arrows healthy thirsty thirsty'
                        'slider-arrows healthy slider-dots oranges'
                        'freshy healthy slider-dots oranges';
}

/* SLIDER-ARROWS */

.slider-arrows {
    grid-area: slider-arrows;

    position: relative;
}

.slider-arrows__img {
    filter: brightness(0.7);
}

.slider-arrows__btn-wrapper {
    position: absolute;

    top: 50%;
    left:0;
    transform: translateY(-50%);

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.slider-arrows__arrow::before {
    content: "";

    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;

    border: 2px #fff solid;
    border-radius: 50%;

    color: #fff;
    font-size: var(--fs-2xl);
}

.slider-arrows__arrow--left::before {
    content: "<";
}


.slider-arrows__arrow--right::before {
    content: ">";
}

/* SLIDER-DOTS */

.slider-dots {
    grid-area: slider-dots;

    position: relative;
}

.slider-dots__img {

    filter: brightness(0.9);
}


.slider-dots__btn {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.slider-dots__nav {
    position: absolute;
    bottom: 50px;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.slider-dots__nav-dot {
    width: 10px;
    height: 10px;

    background-color: #fff;
    border: 1px #fff solid;
    border-radius: 50%;

    transition: background-color 0.2s, box-shadow 0.2s;
}

.slider-dots__nav-dot:hover {
    background-color: transparent;
    box-shadow: 0 0 0 1px #fff;
}

/* FRESHY */

.freshy {
    grid-area: freshy;
    
    background-color:var(--green);

    justify-content: center;
}

.freshy__desc {
    max-width: 300px;
}

/* HEALTHY */

.healthy {
    grid-area: healthy;

    background-color: var(--red);

    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: start;

    padding-bottom: 60px;

}

.healthy__desc {
    max-width: 170px;
}

/* THIRSTY */

.thirsty {
    grid-area: thirsty;

    background-color: var(--orange);

    flex-direction: row-reverse;
    justify-content: center;

    gap: 40px;
}

.thirsty__desc {
    text-align: right;
    max-width: 240px;
}


/* ORANGES */

.oranges {
    grid-area: oranges;

    position: relative;
}


.oranges__img {
    filter: brightness(0.7)
}

.oranges__btn {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}

.oranges__arrow {
    position: absolute;

    bottom: 20px;
    right: 30px;
}

.oranges__arrow img {

}

/* FOOTER */
.wrapper-down{
    display: grid;
    grid-template-columns: 4.5fr 1.5fr;
    grid-template-rows: max-content;
    grid-template-areas: "footer juicy";
}

.footer{
    grid-area: footer;
    background-color: var(--dark);

    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr 1fr;

    grid-template-areas:". . sign-text ."
                        ". socials form logo"
                        ". . . copy";

    align-items: center;

    padding: 10px;
}

.footer__socials {
    grid-area: socials;

    display: flex;
    gap: 15px;
}

.footer__social-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    border-radius: 50%;
    
    width: 40px;
    height: 40px;
    
}

.footer__form {
    grid-area: form;
    display: flex;
}

.footer__text {
    grid-area: sign-text;
    align-self: end;

    text-transform: uppercase;
    font-size: var(--fs-md);
}

.form-wrapper {
    display: flex;
    
}

.form-input {
    height: 30px;

    font-size: var(--fs-xs);
    flex: 1;

    padding-left: 10px;

    transition: box-shadow 0.2s;
}

.form-input:hover {
    box-shadow: 0 0 10px 1px var(--dark-blue);
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 10px 1px var(--blue);
}


.form-button {
    flex: 0 0 auto;

    height: 30px;
    padding: 5px 10px;

    background-color: var(--blue);

    color: #fff;
    font-size: var(--fs-xs);
}

.footer__logo {
    grid-area: logo;
    max-width: 50px;

    justify-self: center;
}

.footer__copy {
    grid-area: copy;

    justify-self: center;
    align-self: end;
}

/* SIDEBAR JUICY */

.juicy {
    grid-area: juicy;

    background-color: var(--blue);
    justify-content: center;
}

.juicy__btn {
    margin-top: 15px;
    border-radius: 24px;
}

.juicy__title {
    max-width: 110px;
}
.juicy__desc {
    max-width: 240px;
}


@media (max-width: 1300px) {
    .footer {
        grid-template:  ". sign-text ." 1.5fr
                        "socials form logo" 1fr
                        ". . copy" 1fr / 1.5fr 1fr 1.5fr;
    
        padding: 10px 15px;
    }

    .footer__socials {
        justify-self: center;
    }

}

@media (max-width: 1200px) {
    .header {
        grid-template-rows: max-content;
        grid-template-columns: 1fr 2.5fr 0.5fr;
        grid-template-areas: "title nav search";

        padding: 20px 15px 30px;
    }

    .header__nav {
        transform: none;
    }

    .main {
        grid-template:  "freshy freshy freshy healthy" 1fr
                        "slider-arrows slider-arrows slider-arrows healthy" 1.5fr
                        "thirsty thirsty thirsty thirsty" 1fr
                        "slider-dots slider-dots oranges oranges" 1.5fr / 2fr 1fr 1fr 2fr;


    }

    .slider-dots,.slider-arrows,.oranges {
        height: 400px;
    }

    .healthy {
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .thirsty {
        gap: 20px;
    }

    .footer {
        grid-template:  ". sign-text ." 1.5fr
                        "socials form logo" 1fr
                        ". . copy" 1fr / 1.5fr 1fr 1.5fr;
    }

    .wrapper-down {
        display: grid;
        grid-template: "juicy" max-content "footer" 1fr / 100%;
    }

}

@media (max-width: 760px) {
    .header__nav {
        display: none;;
    }

    .footer {
        grid-template:  "socials" 1fr "sign-text" 1fr "form" 1fr "logo" 1fr "copy" 1fr / max-content;

        justify-content: center;
        text-align: center;
    }

    .wrapper-down {
        display: grid;
        grid-template: "juicy" 1.5fr "footer" 2fr / 100%;
    }
}

@media (max-width: 600px) {
    .main {
        grid-template:  "healthy" 0.7fr "slider-arrows" 1fr "freshy" 0.7fr "slider-dots" 1fr "thirsty" 0.7fr "oranges" 1fr / 100%
    }

    .healthy {
        flex-direction: row;
        justify-content: center;
    }

    .healthy__desc {
        max-width: 300px;
    }

    .common-article {
        padding: 30px;
    }
}

@media (max-width: 350px) {
    .main {
        grid-template:  "healthy" max-content "slider-arrows" 1fr "freshy" max-content "slider-dots" 1fr "thirsty" max-content "oranges" 1fr / 100%
    }

}