@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


/* 
Light - 100/300
Regular - 400
Medium - 500
Extrabold - 800
Black - 900
*/

/* COMMON */

:root {
    --red: #FF494B;
    --blue: #00C2BA;
    --green: #BEE163;
    --orange: #FFBA4A; 
    --dark-blue:#007D78;

    --fs-xs: 0.75rem; /*12px*/
    --fs-sm: 0.875rem; /*14px*/
    --fs-md: 1rem; /*16px*/
    --fs-lg: 1.25rem; /*20px*/
    --fs-xl: 1.5rem; /*24px*/
    --fs-2xl: 2rem; /*32px*/
    --fs-4xl: 3rem;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-sm);
    color:#fff;
}

.common-img-wrapper {
    display: flex;

    width: 100%;
    height: 100%;
}

.btn {
    color: #fff;
    font-size: var(--fs-xs);
    text-transform: uppercase;
    letter-spacing: 0.125em;

    border: 2px #fff solid;
    padding: 10px 20px;
}

.common-article {
    display: flex;
    gap: 20px;

    padding: 0 30px;
}

.title {
    max-width: 120px;
    font-size: var(--fs-md);
}

.title span {
    font-size: var(--fs-4xl);
    letter-spacing: -0.05em;
    font-weight: 500;
    line-height: 1;

    display: inline-block;
}

.title span::first-line {
    font-weight: 900;
    letter-spacing: 0;
}

.desc {
    hyphens: auto;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* HEADER */
.header {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 2fr 1fr 2.5fr 0.5fr;
    grid-template-areas: ". title nav search";

    padding: 20px 0 30px;

    overflow: hidden;
}

.header__title {
    grid-area: title;

    font-size: var(--fs-xl);
    font-weight: 900;
    color: var(--red);
    line-height: 1;

    max-width: 170px;
}

.header__nav {
    grid-area: nav;
    justify-self: start;

    transform: translateX(-10px);
}

.header__list {
    display: flex;
    gap: 16px;
}

.header__list a {
    color: #000;
    font-size: var(--fs-md);

    padding: 10px;
    display: inline-block;
    position: relative;

    transition: color 0.2s;
}

.header__list a:hover {
    color: var(--blue);
}

.header__list a:active {
    color: var(--dark-blue);
}

.header__list a::before {
    content: "";

    display: block;

    width: 100%;
    height: 100%;

    background-color: var(--blue);

    position: absolute;
    left: 10px;
    bottom: -250%;

    transition: bottom 0.2s, background-color 0.3s;
}

.header__list a:hover::before {
    bottom: -100%;
}

.header__list a:active::before {
    background-color: var(--dark-blue);
}

.header__search {
    grid-area: search;
    justify-self: center;

    stroke: #000;
    transition: stroke 0.3s;
}

.header__search:hover {
    stroke: var(--blue);
}

.header__search:active {
    stroke: var(--dark-blue);
}


/* MAIN */

.main {
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
    grid-template-areas:'slider-arrows healthy thirsty thirsty'
                        'slider-arrows healthy slider-dots oranges'
                        'freshy healthy slider-dots oranges';
}

/* SLIDER-ARROWS */

.slider-arrows {
    grid-area: slider-arrows;

    position: relative;
}

.slider-arrows__img {
    filter: brightness(0.7);
}

.slider-arrows__btn-wrapper {
    position: absolute;

    top: 50%;
    left:0;
    transform: translateY(-50%);

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.slider-arrows__arrow::before {
    content: "";

    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;

    border: 2px #fff solid;
    border-radius: 50%;

    color: #fff;
    font-size: var(--fs-2xl);
}

.slider-arrows__arrow--left::before {
    content: "<";
}


.slider-arrows__arrow--right::before {
    content: ">";
}

.u-fade {
    transition: opacity 0.2s;
}

.u-fade:hover {
    opacity: 0.7;
}

.u-fade:active {
    opacity: 0.5;
}

/* SLIDER-DOTS */

.slider-dots {
    grid-area: slider-dots;

    position: relative;
}

.slider-dots__img {

    filter: brightness(0.9);
}


.slider-dots__btn {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.slider-dots__nav {
    position: absolute;
    bottom: 50px;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.slider-dots__nav-dot {
    width: 10px;
    height: 10px;

    background-color: #fff;
    border: 1px #fff solid;
    border-radius: 50%;

    transition: background-color 0.2s, box-shadow 0.2s;
}

.slider-dots__nav-dot:hover {
    background-color: transparent;
    box-shadow: 0 0 0 1px #fff;
}

/* FRESHY */

.freshy {
    grid-area: freshy;
    
    background-color:var(--green);

    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

.freshy__desc {
    max-width: 300px;
}

/* HEALTHY */

.healthy {
    grid-area: healthy;

    background-color: var(--red);

    flex-direction: column-reverse;
    justify-content: flex-start;

    padding-bottom: 60px;

}

/* THIRSTY */

.thirsty {
    grid-area: thirsty;

    background-color: var(--orange);

    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.thirsty__desc {
    text-align: right;
    max-width: 240px;
}


/* ORANGES */

.oranges {
    grid-area: oranges;

    position: relative;
}


.oranges__img {
    filter: brightness(0.7)
}

.oranges__btn {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}

.oranges__arrow {
    position: absolute;

    bottom: 20px;
    right: 30px;
}

.oranges__arrow img {

}